<div class="layui-fluid" id="VIEW-apply" lay-title="server服务管理">
    <!--<div class="layui-btn layui-btn-sm restart-server">restart</div>-->

    <div class="layui-row layui-col-space15">
        <div class="layui-col-lg4">
            <div class="layui-card">
                <div class="layui-card-header">服务信息</div>
                <div class="layui-card-body" id="serverInfoBd">

                </div>
            </div>
        </div>
        <div class="layui-col-lg4">
            <div class="layui-card">
                <div class="layui-card-header">服务管理</div>
                <div class="layui-card-body">
                    <div class="layui-btn layui-btn-sm stop-server">stop</div>
                    <div class="layui-btn layui-btn-sm reload-server">reload</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tick_id = null;
    var check_times = 0;

    layui.use(['admin','jquery','laytpl'], function(admin,  form) {
        var $ = layui.jquery;
        let laytpl = layui.laytpl;

        loadInfo();

        function loadInfo()
        {
            admin.post({
                url:"/server-manage/get_info",
                success:function(res){
                    let tp = `
                    <table class="layui-table">
                        <colgroup>
                            <col width="100" />
                            <col />
                        </colgroup>
                        <tbody>
                            {{# for(let key in d.obj){ }}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ d.obj[key] }}</td>
                            </tr>
                            {{#  } }}
                        </tbody>
                    </table>`;
                    $("#serverInfoBd").html(laytpl(tp).render({
                        obj: res.result.info
                    }));
                }
            })
        }



        $(".stop-server").on("click", function(){
            admin.post({
                url:"/server-manage/stop",
                success:function(res){
                },
                fail:function(){
                    layer.msg("ok, server stop success")
                }
            })
        });
        $(".reload-server").on("click", function(){
            admin.post({
                url:"/server-manage/reload",
                success:function(res){
                    layer.msg("ok, server reload success")
                },
                fail:function(){
                }
            })
        });
        $(".restart-server").on("click", function(){
            layer.load();
            admin.post({
                url:"/server-manage/restart",
                success:function(){

                },
                error:function(err){
                    // 服务会终止，所以走fail才是正常到
                    // tick 定时查询状态 是否重启成功
                    tick_id = setInterval(function(){
                        admin.post({
                            url:"/server-manage/check",
                            success:function(){
                                layer.closeAll();
                                layer.msg("重启成功");
                                clearInterval(tick_id);
                            },
                            error(){
                                check_times++;
                                if (check_times > 20){
                                    layer.closeAll();
                                    layer.msg("重启失败...");
                                    clearInterval(tick_id);
                                }
                            }
                        });
                    }, 3 * 1000);
                }
            })
        })
    });

</script>


